.guideModal {
  max-width: 1100px;
  width: 100%;
}

.swal2-popup.swal2-modal.swal2-show {
  width: 620px;
  margin: 0 auto;
  padding: 0;
}
.swal2-html-container img {
  width: 100%;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/bg-effect.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

// 모바일 인덱스
.MoIndex img {
  width: 100%;
  padding: 24px;
}

// PC홈
.homePCWrap {
  width: 1200px;
  height: 80vh;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Serif KR", serif;

  .home-left {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .left-stamp {
      width: 90%;
      margin: auto;
      font-weight: 900;
      color: #000;
      font-size: 0.85rem;

      li img:hover {
        transition: all 0.8s;
        transform: rotate(300deg);
        filter: none;
        opacity: 1;
      }

      img {
        padding: 10px;
        filter: grayscale(80%);
        opacity: 0.7;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      li:hover {
        color: #da4500;
      }
    }

    .left-stamping {
      width: 340px;
      transform: translate(30px, 70px);
      animation: float4 3s ease-in-out infinite;
      animation-delay: 9s;
    }
  }

  .home-middle {
    width: 900px;
    display: flex;
    position: relative; //mascot 컨텐츠 부모요소
    flex-direction: column;
    align-items: center;

    .middle-schedule {
      filter: drop-shadow(5px 45px 20px rgba(94, 50, 18, 0.3));
    }

    .light {
      position: absolute;
      width: 200px;
      left: 0;
      top: 4vh;
      z-index: 200;
      animation: light 7s ease-in-out infinite;
      transform: translate(-40px, 30px);
      animation-delay: 12s;
    }

    .light2 {
      position: absolute;
      width: 150px;
      right: 0;
      top: 20vh;
      z-index: 200;
      animation: light2 9s ease-in-out infinite;
      animation-delay: 6s;
    }

    .uk-grid-small {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 50px;
      justify-content: left;
      color: #000;
      padding-left: 30px;
      transform: translateY(60px);

      label {
        font-size: 0.75rem;
        font-weight: 900;
        line-height: 1.5;
      }

      div.uk-countdown-number {
        font-size: 1.8rem;
        font-weight: 900;
      }

      div.uk-countdown-label {
        font-size: 0.5rem;
      }
    }

    .middle-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      .row-ac1 {
        transform: rotate(-1deg);
        position: relative;
        width: 550px;
        filter: drop-shadow(5px 45px 20px rgba(94, 50, 18, 0.6));
      }

      .row-ac1 img:hover {
        transition: 0.5s all;
        filter: drop-shadow(5px 45px 20px rgba(94, 50, 18, 0.7));
      }
      .row-ac2 {
        transform: rotate(0.5deg);
        position: relative;
        width: 400px;
        filter: drop-shadow(5px 45px 20px rgba(94, 50, 18, 0.6));
      }
      .row-ac2 img:hover {
        transition: 0.5s all;
        filter: drop-shadow(5px 45px 20px rgba(94, 50, 18, 0.7));
      }
      .uk-inline div {
        transform: translate(-10px, 20px);
        font-size: 1.3rem;
        font-weight: 900;
        color: #000;
        text-shadow: #fc0 9px 4px 10px;
      }
    }

    .middle-row li {
      padding: 16px 2px 16px 8px;
    }
  }

  // ---------- 이 밑으론 마스코트

  .middle-row-mascot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 80%;

    li.leftMascot {
      width: 190px;
      filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.2));
    }
    li.leftMascot:hover {
      animation: mascot 1s ease-in-out infinite;
    }

    @keyframes float {
      0% {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
      }
      50% {
        filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.3));
        transform: translatey(-20px);
      }
      100% {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
      }
    }

    @keyframes float2 {
      0% {
        transform: translatey(0px);
      }
      40% {
        transform: translate(-10px, 40px);
      }
      65% {
        transform: translate(-40px, -40px);
      }
      85% {
        transform: translate(20px, 40px);
      }
      100% {
        transform: translatey(0px);
      }
    }

    @keyframes float3 {
      0% {
        transform: translateY(-100px);
      }
      50% {
        transform: translateY(-80px);
      }
      100% {
        transform: translateY(-100px);
      }
    }

    @keyframes float4 {
      0% {
        transform: translate(30px, 70px);
      }
      50% {
        transform: translate(35px, 70px);
      }
      100% {
        transform: translate(30px, 70px);
      }
    }

    @keyframes mascot {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    @keyframes light {
      0% {
        transform: translate(-40px, 30px);
        opacity: 1;
      }
      20% {
        opacity: 0;
      }
      25% {
        transform: translate(-90px, 120px);
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      75% {
        transform: translate(170px, 90px);
        opacity: 1;
      }
      100% {
        transform: translate(-40px, 30px);
        opacity: 0.5;
      }
    }

    @keyframes light2 {
      0% {
        transform: translate(0, 0);
        opacity: 1;
      }
      20% {
        opacity: 0;
      }
      25% {
        transform: translate(100px, -40px);
        opacity: 1;
      }
      32% {
        opacity: 0;
      }
      37% {
        transform: translate(180px, 40px);
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      75% {
        transform: translate(-20px, -80px);
        opacity: 1;
      }
      100% {
        transform: translate(0, 0);
        opacity: 0.5;
      }
    }

    @keyframes kirring {
      0% {
        transform: rotate(0deg);
      }
      20% {
        transform: rotate(-2deg);
      }
      25% {
        transform: rotate(2deg);
      }
      32% {
        transform: rotate(0deg);
      }

      75% {
        transform: rotate(2deg);
      }

      80% {
        transform: rotate(-2deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    li.middleMascot {
      width: 146px;
      position: absolute;
      bottom: 0;
      left: 15%;
      z-index: 5;
      filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.2));
    }
    li.middleMascot:hover {
      animation: mascot 1s ease-in-out infinite;
    }

    li.rightMascot {
      width: 200px;
      position: relative;
      left: 10%;
      filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.2));
    }
    li.rightMascot:hover {
      animation: mascot 1s ease-in-out infinite;
    }
  }

  //  ---------

  .home-right {
    width: 150px;
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;

    .right-twitter {
      width: 40%;
      transform: translate(-80px, 84px);
    }

    .right-twitter:hover {
      transform: translateY(10px);
      filter: drop-shadow(5px 45px 20px rgba(94, 50, 18, 0.3));
    }

    .right-kirring {
      width: 100%;
      margin: 8px 0 30px;
      animation: kirring 9s ease-in-out infinite;
      animation-delay: 6s;
    }

    .right-search {
      width: 130%;
      z-index: 10;
      transform: translate(-20px, 90px);
      animation: float2 8s ease-in-out infinite;
    }

    .right-newspaper {
      width: 340px;
      z-index: 5;
      animation: float3 8s ease-in-out infinite;
    }
    .right-newspaper img {
      margin-top: 100px;
    }
  }
  img {
    width: 100%;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .homePCWrap {
    display: none;
  }

  .homeMobileWrap {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poor Story" !important;
    font-size: 1rem;

    p {
      text-align: center;
      margin-top: 5rem;
      line-height: 1.3;
    }

    .mobile-home-mascot {
      max-width: 180px;
      min-width: 150px;
      width: 100%;
      margin-bottom: 24px;
    }

    div {
      width: 100%;
      margin: 30px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      span {
        font-weight: 900;
        font-size: 1.2rem;
        color: #da4500;
      }
    }
  }
}

@media all and (min-width: 1921px) {
  .homePCWrap {
    width: 1400px;
    height: 90vh;
    margin: 0 auto;
    padding: 0 0;

    .home-left {
      width: 160px;
    }
    .left-stamp {
      width: 90%;
    }
    .left-stamping {
      width: 370px;
      transform: (30px, 70px);
      animation: float4 3s ease-in-out infinite;
      animation-delay: 9s;
    }

    .home-middle {
      width: 1040px;

      .row-ac1 {
        width: 700px;
      }

      .row-ac2 {
        width: 500px;
      }

      li.leftMascot {
        width: 190px;
      }
    }

    li.middleMascot {
      width: 146px;
      position: absolute;
      bottom: 0;
      left: 15%;
    }
    li.middleMascot:hover {
      animation: mascot 1s ease-in-out infinite;
    }

    li.rightMascot {
      width: 200px;
      position: relative;
      left: 10%;
      transform: translateY(10px);
    }
    .home-right {
      width: 200px;
      height: 83vh;
      display: flex;

      padding: 24px 0;

      .right-twitter {
        width: 40%;
        transform: translate(-80px, 84px);
      }

      .right-kirring {
        width: 100%;
        margin: 8px 0 30px;
      }

      .right-search {
        width: 130%;
        margin-top: -100px;
        transform: translate(-20px, 90px);
      }

      .right-newspaper {
        width: 400px;
      }

      .right-newspaper img {
        margin-top: 0px;
      }
    }
  }
}
