@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  // background-color: #333;
  background-image: url("/img/bgtest.png");
  background-size: cover;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Serif KR", serif;
}

a {
  color: inherit;
  text-decoration: none !important;
  display: block;
  transition: color 0.2s;
}

a:hover {
  color: #da4500;
}

::-moz-selection {
  background: #ffc13c;
  color: #000;
}

::selection {
  background: #ffc13c;
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 0;
}

img {
  // pointer-events: none;
  -webkit-touch-callout: none !important;
  -webkit-user-drag: none !important;
  user-select: none !important;
  // -moz-user-select: none !important;
  // -ms-user-select: none !important;
  // -webkit-user-select: none !important;
}

// ::-webkit-scrollbar-thumb {
//   background-color: #ffc13c;
//   background-clip: padding-box;
//   border: 2px solid transparent;
//   border-radius: 100px;
//   box-shadow: inset 0px 0px 5px white;
// }
// ::-webkit-scrollbar-track {
//   background-color: white;
// }

body {
  -webkit-touch-callout: none;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-size: cover;
}

.MainWrap {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
}

// 모바일 안보이게 하기
.homeMobileWrap {
  display: none;
}

// header
header {
  color: white;
  width: 100%;
  height: 50px;
  background-color: #000;
  font-family: "timmer";
  position: sticky;
  z-index: 1000;
  top: 0;
  opacity: 0.8;
  // border-top: 1px solid #000;
  // box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11), 0 3px 15px rgba(0, 0, 0, 0.11);
  // -webkit-backdrop-filter: saturate(180%) blur(15px);
  // -moz-backdrop-filter: saturate(180%) blur(15px);
  // -o-backdrop-filter: saturate(180%) blur(15px);
  // backdrop-filter: saturate(180%) blur(15px);

  .hover {
    opacity: 1;
  }

  .header {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  li {
    font-size: 0.82rem;
  }

  img {
    width: 30px;
  }
}

//Loading 페이지

.LoadingWrap {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-family: "Noto Serif KR", serif;
  letter-spacing: 0.15em;
}
.LoadingText {
  padding: 40px;
  margin-top: 40px;
  color: #666;

  p:last-child {
    color: #000;
    font-weight: 900;
  }
}

// 404페이지

.Custom404-Wrap {
  width: 700px;
  margin: 140px auto 0;
  background-color: white;
  font-family: "Poor Story", cursive;
  text-align: center;
  line-height: 1.5;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11), 0 3px 15px rgba(0, 0, 0, 0.11);
  border-radius: 100px;

  h1 {
    font-size: 2rem;
    padding: 2rem 0 1rem;
    font-family: "Noto Serif KR", serif;
    font-weight: 900;
  }

  .Custom404-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1.4rem 3rem;

    p {
      width: 300px;
      color: #666;
      font-size: 1.2rem;
      font-weight: 100;
    }
    img {
      width: 200px;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 550px) {
  .Custom404-Wrap {
    width: 100%;
    padding: 2rem;
    margin: auto;

    div.Custom404-row {
      flex-direction: column !important;
      p {
        font-size: 1.1rem;
      }
    }
    img {
      padding: 0 0 2rem;
    }
    h1 {
      font-size: 1.8rem;
    }
  }

  .LoadingWrap {
    letter-spacing: 0.02em;
    font-size: 0.8rem;
    line-height: 1.5;
  }
}

.small {
  font-size: 86%;
  color: #666;
}

.bold {
  font-weight: 900;
  color: #ff0a0a;
}

.title {
  font-size: 1.6rem;
  font-weight: 900;
  color: #ff0a0a;
  line-height: 3;
  border-bottom: 1px solid #ccc;
}
