.mySwiper {
  width: 1000px;
  // height: 100px;
  // max-height: 150px;
  background-color: black;
}

.mySwiper2 {
  width: 1000px;
  // height: 450px;
  // max-height: 450px;

  background-color: black;
}

.ProfileCard {
  width: 120px;
  margin: 4px;
}
